@{
    ViewBag.Title = "Авторизация";
}
@section links{
<link rel="stylesheet" href="~/Content/Auth.css">
}

<div class="pazmiv"></div>
<div class="authWindow">
    <form method="post" action="/Auth/ControlEnter">
        <div class="authHeader">
            <div class="title">
                <label>Авторизация</label>
            </div>
            <div class="close">x</div>
        </div>

        @if (ViewBag.worning)
        {

        <div class="authHeader">
            <div class="title">
                <label>Непраильно введениа почта или пароль</label>
            </div>
            <div class="close">x</div>
        </div>

        }

        <div class="login">
            <div class="desc-auth">
                <label>Номер телефона или e-mail</label>
            </div>
            <input name="email" class="text-box" />
        </div>
        <div class="password">
            <div class="desc-auth">
                <label>Пароль</label>
            </div>
            <input name="password" class="text-box" />
        </div>
        <div class="submitDiv">
            <button type="submit" class="submitBtn">Войти</button>
        </div>
    </form>
</div>
