@{
    ViewBag.Title = "Авторизация";
}
<div class="pazmiv"></div>
    <div class="authWindow">
        <form method="post">
            <div class="authHeader">
                <div class="title">
                    <label>Авторизация</label>
                </div>
                <div class="close">x</div>
            </div>
            <div class="login">
                <div class="desc">
                    <label>Номер телефона или e-mail</label>
                </div>
                <input class="textbox"  />
            </div>
            <div class="password">
                <div class="desc">
                    <label>Пароль</label>
                </div>
                <input class="textbox" />
            </div>
            <div class="submitDiv">
                <button type="submit" class="submitBtn">Войти</button>
            </div>
        </form>
</div>
