@{
    ViewBag.Title = "Авторизация";
}
<div class="pazmiv"></div>
    <div class="authWindow">
        <form method="post"  action= "/Auth/PrepareVereficationEmail" >
            <div class="authHeader">
                <div class="title">
                    <label>Авторизация</label>
                </div>
                <div class="close">x</div>
            </div>
            <div class="login" >
                <div class="desc-auth">
                    <label>Номер телефона или e-mail</label>
                </div>
                <input name ="email" class="textbox"  />
            </div>
            <div class="password" >
                <div class="desc-auth">
                    <label>Пароль</label>
                </div>
                <input name ="password" class="textbox" />
            </div>
            <div class="submitDiv">
                <button type="submit" class="submitBtn">Войти</button>
            </div>
        </form>
</div>
