
@{
    ViewBag.Title = "ViewSeller";
}

<h2>ViewSeller</h2>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/Seller.css">
    <link rel="stylesheet" href="~/Content/Auth.css">
    @RenderSection("links", false)

    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>

<body>
    <div class="header">
        <div>
            <div class="header-content">
                <a href="/Home/Index" class="logo">
                    <div class="logo-title">Садар</div>
                </a>

                <a href="/seller" class="seller-button">
                    ветрина
                </a>

                <a class="seller-button">
                    товары
                </a>

                <a href="/Seller/Orders" class="seller-button">
                    заказы
                </a>

                <a class="seller-button">
                    продажи
                </a>

                <a href="/seller/property" class="seller-button ">
                    настройки
                </a>

                <a href="/Seller/Exit" class="seller-button last-button">
                    выход
                </a>

            </div>
        </div>

    </div>

    <div class="wriper">
        @RenderBody()
    </div>

    <div class="footer">
    </div>
</body>


