@{
    Layout = "~/Views/Shared/ViewSeller.cshtml";
    ViewBag.Title = "Orders";
}

<div class="sorting">
    <div class="parametr parametr-first">
    </div>
    <div class="parametr">
    </div>
    <div class="parametr">
    </div>
    <div class="parametr">
    </div>
</div>

@foreach (Order order in ViewBag.Orders)
{
<h1>@order.good.title </h1>
}