
@{
    ViewBag.Title = "Property";
    Layout = "~/Views/Shared/ViewSeller.cshtml";
}

    <table border="2" align="center">
        <tr>
            <td>ФИО</td><td>@Html.EditorFor(model => model.password)</td>
        </tr>

        <tr>
            <td>описание</td><td></td>
        </tr>

        <tr>
            <td>Фотогрфия</td><td></td>
        </tr>

        <tr>
            <td>телефон</td><td></td>
        </tr>

    </table>

