body {
    background-color: #fedc9e;
}
.wriper {
    display: flex;
    width: 80%;
   
}


.home-content {
    flex: 13 1 0px;
    margin-left: 15px;
}

.left-menu {
    flex: 3 1 0px;
}

.blocks {
    display: flex;
    justify-content: space-around;
}

.block-link {
    width: 250px;
    height: 250px;
    background: #8a4d21;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow:column;
    align-items:center;
}

    .block-link .avatar {
    flex:10 100;
    overflow:hidden;
    }

    .block-link img {
        display:block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .block-link .title {
        background: #fae178;
        flex: 1 1 0px;
        font-size: 1.2em;
        text-align: center;
        border-radius: 4px;
        color: black;
    }

.categories {
    min-height: 500px;
    cursor: pointer;
}

.category {
    margin-bottom: 7px;
    height: 50px;
    position: relative;
    background: #7d4a25;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.category-link {
    color: #ffeea3 !important;
    font-size: 1.2em;
    text-align:center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category:hover #submenu {
    display: block;
}

#submenu {
    position: absolute;
    left: calc(100%);
    padding-left: 5px;
    top: 0;
    width: 100%;
    display: none;
}

.back-content {
    width: 40%;
    margin: auto;
    background-color: #fcde5b;
    padding:10px 10px 10px 20px;
}

/*CheckTrackOrder*/
.track-block {
    vertical-align: top;
    background-color: #ffeea3;
    margin: auto;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(128,86,55);
    display:flex;
    height:40px;
    justify-items:center;
    align-items:center;
    justify-content:center;
}
.track-field {
    background: rgba(0, 0, 0, 0);
    padding: 5px;
    outline: none;
    flex:10 1 0px;
    border-style: none;
}

.track-button {
    flex: 1 1 0px;
    background: rgba(0, 0, 0, 0);
    border-style: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3em;
    color: rgb(128,86,55);
    border-left-style: solid;
    border-left-width: 2px;
    border-color: rgb(128,86,55);
}

.order-info {
    background: rgb(251,235,166);
    border-color: rgb(247, 197, 110);
    border-width: 2px;
    border-style: solid;
    margin-top:17px;
}

#loading{
    position:absolute;
    display:none;
    height:15px;
}
