.header {
    position: fixed;
    top: 0;
    display: inline-block;
    background: linear-gradient(90deg, #4f7a5d, #3b6b4e, #4f7a5d);

    height: 100px;

    width: 100%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.5);
    z-index: 10;

    border-style: solid;
    border-width: 2px;
    border-color: #1c4f32;
}

.seller-button {
    display: inline-block;
    color: #fae278;
    align-content: center;
    padding: 2%;
    border-left-style: solid;
    border-width: 2px;
    border-color: #1c4f32;
    font-size: 200%;
    margin: 0;
}


.seller-button:hover {
    color: #facb78 !important;
}


.last-button {
    border-right-style: solid;
    border-width: 2px;
    border-color: #1c4f32;
}

.header-content {
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 760px;
    margin-left: 9% auto;
    margin-right: 9% auto;
    margin-top: 0;
}

.wriper {
    background: #93b8a2;
    padding: 2%;
}

.field {
    vertical-align: top;
    display: inline-block;
    background: #2e7b50;
    border-color: #1c4f32;
    border-width: 2px;
    border-style: solid;
    padding: 0.5%;
    color: #fae278;
}

.avatar {
    height: 52%;
    width: 22.5%;
}

.photo {
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.main-info {
    vertical-align: top;
    display: inline-block;
    height: 54.5%;
    width: 50%;
}

.name {
    display: block;
    height: 10%;
    align-content: center;
    font-size: 200%;
    text-align: center;
}

.info {
    display: block;
    height: 83%;
    margin-top: 1%;
}

.reit {
    vertical-align: top;
    display: inline-block;
    height: 54.5%;
    width: 23%;
}

.star {
    display: block;
    height: 20%;
    align-content:center;
    align-items:center;
}

.star-count {
    display: block;
    height: 30%;
    text-align: center;
}

.star-point-true {
    width: 2em;
    height: 2em;
    margin: 1em 1em;
    background: #02C986;
    border-radius: 100% 0;
}

.star-point-false {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: top;
    background: #555;
    border-radius: 100% 0;
    margin: 0;
}

.star-point-true {
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: top;
    background: #02C986;
    border-radius: 100% 0;
    margin: 0;
}


.contact {
    display: block;
    height: 75%;
    margin-top: 2%;
}


.sorting {
    background: #378052;
    color: #fae278;
}