.header {
    background: linear-gradient(90deg, #4f7a5d, #3b6b4e, #4f7a5d);
    box-shadow: 0 6px 10px rgba(0,0,0,0.5);
    border-style: solid;
    border-width: 2px;
    border-color: #1c4f32;
}

.seller-button {
    color: #fae278;
    align-content: center;
    padding: 2%;
    border-left-style: solid;
    border-width: 2px;
    border-color: #1c4f32;
    font-size: 1.5em;
}


    .seller-button:hover {
        color: #facb78 !important;
    }


.last-button {
    border-right-style: solid;
    border-width: 2px;
    border-color: #1c4f32;
}


.wriper {
    padding-top:5px;
    background: #93b8a2;
}

.container-flex {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.column-flex {
    margin: 5px;
}

.field {
    vertical-align: top;
    display: inline-block;
    background: #2e7b50;
    border-color: #1c4f32;
    border-width: 2px;
    border-style: solid;
    padding: 0.5%;
    color: #fae278;
}

.avatar {
    height: 300px;
    width: 250px;
}

.photo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main-info {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

.name {
    display: block;
    align-content: center;
    font-size: 200%;
    text-align: center;
}

.info {
    display: block;
    margin-top: 1%;
    min-height: 200px;
    white-space: pre-wrap;
}

.reit {
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.star {
    display: block;
    align-content: center;
    align-items: center;
}

.star-count {
    text-align: center;
}

.stars-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 30px;
}

.star-point {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100% 0;
    vertical-align: top;
}

.star-point-false {
    background: #555;
}

.star-point-true {
    background: #02C986;
}


.contact {
    display: block;
    margin-top: 2%;
}


.sorting {
    background: #378052;
    color: #fae278;
    text-align: initial;
    min-width: 1100px;
}

.table{
    width:92%;
    margin:auto;
    padding:10px;
}

.row-table {
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: 15% 17% 13% 12% 21% 7% 15%;
    margin-bottom: 5px;
    background: #e8d573;
    border-radius: 10px;
    font-size: 120%;
}
.row-first {
    background: #378052;
    margin-bottom: 10px;
    color: rgb(251,235,166);
    font-size:140%;
}
table {
    background: #e8d573;
    border-collapse:collapse;
    font-size:120%;
    display:inline-block;
    margin-right:20px;
}
    table tr td {
        border: 2px solid #378052;
        padding:5px;
    }
    .button-main{
        display:block;
        margin-bottom:10px;
    }
    .status-order{
        font-size:120%;
        text-align:center;
        margin-bottom:20px;
    }