@font-face {
    font-family: galaxy;
    src: url(../fonts/galaxy.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-MediumItalic.otf);
}

@font-face {
    font-family: Vollkorn;
    src: url(../fonts/Vollkorn-Black.ttf);
}


body {
    background-color: #fedc9e;
    margin: 0;
    font-family: montserrat;
}

a {
    text-decoration: none;
    color: rgb(83, 39, 9);
    cursor: pointer;
}
a:any-link{
    text-decoration:none;
}

.header {
    position: fixed;
    top: 0;
    display: inline-block;
    background-color: #fcde5b;
    height: 100px;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.5);
    z-index:10;
}

.header-content {
    position: relative;
    display: inline-block;
    height: 44px;
    width: 82%;
    min-width: 760px;
    margin-top: 26px;
    margin-left: 9%;
    margin-right: 9%;
}

.logo {
    vertical-align: top;
    display: inline-block;
    width: 12%;
    min-width: 145px;
    height: 100%;
    margin-right: 0.5%;
    text-decoration: none;
}


.logo-title {
    margin-top: -22%;
    color: white;
    font-family: galaxy;
    font-size: 5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #a37740;
    width: 100%;
    height: 100%;
}


.search-block {
    vertical-align: top;
    display: inline-block;
    width: 58.6%;
    height: 92%;
    min-width: 400px;
    background-color: #ffeea3;
    margin-right: 0.5%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(128,86,55);
}

.button-main {
    background: rgba(128,86,55);
    box-shadow: 1px 1px 20px 0.5px #222 inset;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

    font-size: 120%;
    padding: 1%;

    text-decoration: none;
    font-family: Vollkorn;
    color: #ffeea3;
}

.button-main:hover {
    box-shadow: 1px 1px 10px 1px #222 inset;
}


.search-field {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    padding: 0.5%;
    outline: none;
    width: 89%;
    height: 90%;
    border-style: none;
}

.serch-button {
    vertical-align: top;
    display: inline-block;
    width: 9%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border-style: none;
    outline: none;
    padding: 0;
    cursor: pointer;

    font-size: 150%;
    color: rgb(128,86,55);
    
    border-left-style: solid;
    border-left-width: 2px;
    border-color: rgb(128,86,55);

}

.bascet {
    vertical-align: top;
    display: inline-block;
    padding: 0.5%;
    width: 19%;
}

.wriper {
    width: 94%;
    min-width: 760px;
    max-width: 1850px;
    min-height: 1000px;
    margin: 110px auto;
}

.footer {
    vertical-align: bottom;
    display: inline-block;
    background-color: #fcb15b;
    height: 100px;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.5);
   
}

.glass-case {
    background: rgb(128,86,55);
    width: 87%;
    margin:auto;
    min-width: 1000px;
    border-radius: 7px;
    padding-top:10px;
    padding-bottom: 40px;
    margin: auto;
}

.goods {
    height: 200px;
    margin: auto;
    margin:0 10px 10px 10px;
    background: rgb(250,226,120);
    border-color: rgb(247, 197, 110);
    border-width: 2px;
    border-style: solid;
    padding: 0.5%;
}

.goods-field {
    background: rgb(251,235,166);
    border-color: rgb(247, 197, 110);
    border-width: 2px;
    border-style: solid;
    padding: 0.5%;
}

.goods-intro {
    vertical-align: top;
    display: inline-block;
    width: 16%;
    height: 92%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5%;
}

.goods-info {
    height: 65%;
    width:100%;
}


.goods-info-title {
    font-weight: bold;
    display: block;
    font-size: 120%;
}

.goods-info-short {
    display: block;
    font-size: 90%;
    margin-top: 0.5%;
}

.goods-price {
    vertical-align: top;
    display: inline-block;
    width: 44%;
    text-align:center;
    margin-top: 0.5%;
    padding:  1.4%;
}

.goods-seller {
    vertical-align: top;
    width: 55%;
    margin-top: 0.5%;
    padding:  1.4%;
    color: black;
    float:right;
}

.goods-right {
    vertical-align: top;
    width: 65%;
    height: 92%;
    display: inline-block;
    margin-left: 0.5%;
}
.goods-buttons{
    display:inline-block;
    height:100%;
    width:17%;
}

.button-sell {
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    margin-left: 0.5%;
}

.sorting{
    background: rgb(128,86,55);
    min-width: 1100px;
    height: 5%;
    border-radius: 10px;
    display: block;
    width:88%;
    margin:0 auto;

    margin-bottom: 1%;



    padding-left: 10%;
    padding-right: 10%;

}

.parametr{
    display: inline-block;
    color: rgb(251,235,166);
    font-size: 120%;

    margin-top: 0.1%;
    margin-bottom:  0.1%;


    text-decoration: none;
    font-family: Vollkorn;
    padding-right: 3.2%;
    padding-left: 3.2%;
    font-weight: normal;
    
    border-left-style: solid;
    border-left-width: 1px;
    border-color: rgb(251,235,166);
}

.parametr-first{
    border-left-style: none;
}

.parametr:hover{
    font-weight: bold;
}

