@model goods
@{
    ViewBag.Title = "Goods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section links{
    <link rel="stylesheet" href="~/Content/Good.css">
}


<<<<<<< HEAD
<div class="content">
    <div>
        <div class="image"></div>
        <div class="info">
            <div class="title">@Model.title</div>
            <div class="price">@Model.price</div>
            <div class="desc">
                <div>Описание:</div>
                <div>@Model.description</div>

            </div>
            <button class="addToCartBtn">Добавить в корзину</button>
        </div>
    </div>
</div>