@model KenguruDB
@{
    ViewBag.Title = "Index";
}
@section links{
    <link rel="stylesheet" href="~/Content/Home.css">
}


<div class="categories">
    @{
        foreach (Category category in Model.Categories.ToList())
        {
            <div id="dropdown-item" class="category">
                <a class="category-link" href="@Url.Action("Index", "Catalog", new { categoryId = category.id })">@category.name</a>
                @if (category.subCategories.Count != 0)
                {
                    <div id="submenu">
                        @foreach (Category subCategory in category.subCategories)
                        {
                            <div class="category">
                                <a class="category-link" href="@Url.Action("Index", "Catalog", new { categoryId = subCategory.id })">@subCategory.name</a>
                            </div>
                        }
                    </div>
                }

            </div>
        }
    }

</div>