@model KenguruDB
@{
    ViewBag.Title = "Index";
}
@section links{
    <link rel="stylesheet" href="~/Content/Home.css">
    <script type="text/javascript" src="~/Content/js/AppearMenu.js"></script>
}


<div class="categories" >
        @{
            foreach (Category category in Model.Categories.ToList())
            {
                <div id="dropdown-item" class="category">
                    <a class="category-link" href="#">@category.name</a>
                    @Html.Partial("SubMenu", category.subCategories)
                </div>
            }
        }

</div>