
@{
    ViewBag.Title = "Index";
}
@section links{
    <link rel="stylesheet" href="~/Content/Home.css">
}


<div class="categories">
    <ul>
        @{
            KenguruDB db = new KenguruDB();
            foreach (Category category in db.Categories)
            {
                <li class="category">@category.name</li>
            }
        }

    </ul>
</div>