@model ICollection<Category>

<div id="submenu">
    @foreach (Category category in Model)
    {
        <div class="category">
            <a class="category-link" href="#">@category.name</a>
        </div>
    }
</div>