@model List<Order>
@{
    Layout = null;
}
@foreach (Order order in Model)
{
    <div class="order">
        <div class="title">Товар: @order.good.title</div>
        <div class="count">Количество заказано: @order.count</div>
        <div class="time">Время заказа: @order.Time.ToString()</div>
        <div class="status">
            Статус:
            @switch (order.status)
            {
                case (int)StatusOrder.Weit:
                    <span>Товар ожидает отправки</span>break;
                case (int)StatusOrder.Sent:
                    <span>Товар ожидает доставки</span>break;
                case (int)StatusOrder.Complit:
                    <span>Товар доставлен</span>break;
                default:
                    <span>Хз</span>break;
            }
        </div>
    </div>
}